* {
  text-align: center;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1ch;
}

.moleHole {
  background: url("/hole.png") no-repeat center/contain;
  background-size: 25%;
  padding: 0;
  margin: 0;
  color: transparent;
}

.mole {
  background-image: url("/mole.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  padding: 0;
  margin: 0;
  color: transparent;
}

.mole:hover {
  cursor: pointer;
  padding: 1rem;
}

.gameGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 7rem;
  gap: 1rem;
  padding: 1rem;
  /* max-width: 30rem;  */
  margin: 0 auto;
}
